body{
    background: linear-gradient(90deg, #020024 0%, #090979 35%, #00d4ff 100%);
}
.error
{
    color: red;
    text-align: center;
}
.success
{
    color: green;
    text-align: center;
}
.shw
{
    box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
}
.side
{
    background-image: #020024;
}
#quantity
{
    border: 1px solid grey;
    text-align: center;
    outline: none;
    width: 50px;
}
